* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Anton', sans-serif;
    color: #fff;
    background-color: #f2f2f2;
}

.hero {
	background: #000;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.texto {
	width: 100%;
	color: transparent;
	text-align: center;
	text-transform: uppercase;
	font-size: 300px;
	font-weight: bold;

	background-image: url('./img/2.jpg');
	background-size: cover;
	background-position-y: 700px;
	
	background-clip: text;
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}